* {
  margin: 0;
  padding: 0;
}

body {
  background: #7f7f7f;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.table {
  border-radius: 30px;
  width: 790px;
  height: 150px;
  background-color: #ffe7c2;
}
.table .monitor-wrapper {
  border-radius: 30px;
  background: #000;
  width: 770px;
  height: 130px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.table .monitor-wrapper .monitor {
  width: 700px;
  height: 100px;
  background-color: #556c88;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.table .monitor-wrapper .monitor p {
  font-family: "VT323", monospace;
  font-size: 100px;
  position: relative;
  display: inline-block;
  animation: move 20s infinite linear;
  color: #cde3ff;
}

@keyframes move {
  from {
    left: 800px;
  }
  to {
    left: -4800px;
  }
}